#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE) PREFIX=/usr

override_dh_auto_install:
	$(MAKE) PREFIX=/usr DESTDIR=$(CURDIR)/debian/mx3 install

override_dh_auto_clean:
	$(MAKE) clean
